// |
// |
// |
// |
// |
// |
// |
// Montserrat
@font-face {
    font-family: Montserrat;
    font-weight: 100;
    font-style: normal;
    src: url("/landing-page/fonts/montserrat/Montserrat-Hairline.otf") format("opentype");
}
@font-face {
    font-family: Montserrat;
    font-weight: 300;
    font-style: normal;
    src: url("/landing-page/fonts/montserrat/Montserrat-Light.otf") format("opentype");
}
@font-face {
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    src: url("/landing-page/fonts/montserrat/Montserrat-Regular.otf") format("opentype");
}
@font-face {
    font-family: Montserrat;
    font-weight: 700;
    font-style: normal;
    src: url("/landing-page/fonts/montserrat/Montserrat-Bold.otf") format("opentype");
}
@font-face {
    font-family: Montserrat;
    font-weight: 900;
    font-style: normal;
    src: url("/landing-page/fonts/montserrat/Montserrat-Black.otf") format("opentype");
}

// |
// |
// |
// |
// |
// |
// |
// Roboto
@font-face {
    font-family: Roboto;
    font-weight: 900;
    font-style: normal;
    src: url("/landing-page/fonts/roboto/Roboto-Black.ttf") format("truetype");
}
@font-face {
    font-family: Roboto;
    font-weight: 900;
    font-style: italic;
    src: url("/landing-page/fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
}
@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    src: url("/landing-page/fonts/roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: italic;
    src: url("/landing-page/fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: italic;
    src: url("/landing-page/fonts/roboto/Roboto-Italic.ttf") format("truetype");
}
@font-face {
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    src: url("/landing-page/fonts/roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
    font-family: Roboto;
    font-weight: 300;
    font-style: italic;
    src: url("/landing-page/fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
}
@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    src: url("/landing-page/fonts/roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: italic;
    src: url("/landing-page/fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
}
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    src: url("/landing-page/fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: Roboto;
    font-weight: 200;
    font-style: normal;
    src: url("/landing-page/fonts/roboto/Roboto-Thin.ttf") format("truetype");
}
@font-face {
    font-family: Roboto;
    font-weight: 200;
    font-style: italic;
    src: url("/landing-page/fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
}
// |
// |
// |
// |
// |
// |
// |
// Roboto Condensed
@font-face {
    font-family: Roboto-Condensed;
    font-weight: 600;
    font-style: normal;
    src: url("/landing-page/fonts/roboto/Roboto-BoldCondensed.ttf") format("truetype");
}
@font-face {
    font-family: Roboto-Condensed;
    font-weight: 200;
    font-style: normal;
    src: url("/landing-page/fonts/roboto/Roboto-Condensed.ttf") format("truetype");
}
@font-face {
    font-family: Roboto-Condensed;
    font-weight: 200;
    font-style: italic;
    src: url("/landing-page/fonts/roboto/Roboto-CondensedItalic.ttf") format("truetype");
}
@font-face {
    font-family: Roboto-Condensed;
    font-weight: 600;
    font-style: italic;
    src: url("/landing-page/fonts/roboto/Roboto-BoldCondensedItalic.ttf") format("truetype");
}